#search {
	margin-top: 75px;
	position: relative;
}

#button-row {
	padding: 25px;
	margin-left: 10px;
}

#graph {
	width: 1000px;
	height: 500px;
}

#symbol-entry {
	padding: 10px;
}

#day-input {
	padding: 10px;
}

#stock-name {
	height: 50px;
	width: 100px;
	font-size: 18pt;
	font-weight: bold;
	text-transform: uppercase;
}